h1 {text-transform: uppercase;}
body { background-color: Ghostwhite;  }
link {  font-size:16px; 
 font-style:broadway;}
body{
  background-color:ADD8E6;
}

div{
  background-color:FFC0CB;
  padding:7px;
  margin:14px;
}
.footer{
  background-color: CD5252;
  text-align:justify;
}
.content span{
  text-align:center;
  color:black;
  font-weight:850;
  font-size:28px;
}
p+p{
  font-style:broadway;
}

.content p{
  text-align:justify;
  
}
h4::before{
  content: "Good morning";
  color:violet;
  font-weight:semi bold;
}
h5::after{
  content: "Good Bye!";
  color:pink;
  font-weight:semi bold;
}
h3:hover{
  color:gray;
  font-style:broadway;
}
a:link{
  color:green;
}
a:visited{
  color:black;
}
.vis{
  visibility:hidden;
}
.block{
  display: block;
  font-style:broadway;
}
.semi-visible{
  opacity:1;
}
.inline {
  display: inline;
  font-style:broadway;
}
img{
  filter: grayscale(50%);
  position: relative;
  width:180px;
  height:100x;
  left:80px;
  animation: image 4s;
}
img:hover{
  width:250px;
  height:145x;
  
}
@keyframes image {
  from {left:1000px;}
  to {left:50px}
}
